<div class="perfil-container">

  <mat-card class="example-card">

    <h1>USUARIO: {{decodedToken.user_name}}</h1>

    <mat-divider></mat-divider>

    <h2>ROLES</h2>
    <mat-chip-list aria-label="Lista Roles" class="mat-chip-list-stacked">
      <mat-chip *ngFor="let rol of roles" selected [color]="rol.color">
        <mat-icon aria-hidden="false" aria-label="admin_user" *ngIf="rol.name === 'ADMIN'">
          admin_panel_settings
        </mat-icon>
        <mat-icon aria-hidden="false" aria-label="admin_user"  *ngIf="rol.name === 'DBA'" >
          manage_accounts
        </mat-icon>
        <mat-icon aria-hidden="false" aria-label="admin_user" *ngIf="rol.name !== 'ADMIN' && rol.name !== 'DBA'">
          account_circle
        </mat-icon>
        {{rol.name}}
      </mat-chip>
    </mat-chip-list>

  </mat-card>

</div>
