<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #espForm="ngForm">

  <div [hidden]="true">
      <mat-form-field class="example-full-width">
          <input matInput placeholder="ID" required formControlName="id">
      </mat-form-field>
  </div>

  <div>
    <mat-form-field class="example-half-width">
        <mat-select placeholder="Selecciona paciente" [(value)]="idPacienteSeleccionado">
          <mat-option *ngFor="let p of (pacientes$ | async)" [value]="p.idPaciente" >
              {{p.dni}} - {{p.nombres}} {{p.apellidos}}
          </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="button" class="button" (click)="abrirDialog()">Nuevo Paciente</button>
  </div>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Temperatura" required formControlName="temperatura">
</mat-form-field>

<mat-form-field class="example-full-width">
  <input matInput placeholder="Pulso" required formControlName="pulso">
</mat-form-field>

<mat-form-field class="example-full-width">
  <input matInput placeholder="Ritmo" required formControlName="ritmo">
</mat-form-field>

<mat-form-field class="example-full-width">
  <input disabled matInput [matDatepicker]="picker" placeholder="Escoger una fecha dd/mm/yyyy"
        formControlName="fecha" [max]="maxFecha" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
</mat-form-field>



  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
      <mat-icon>done</mat-icon>
      <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" routerLink='/pages/signos' type="button">
      <mat-icon>close</mat-icon>
      <span>Cancelar</span>
  </button>
</form>

<br />
